<?xml version="1.0"?>

<model>
    <name>aavv</name>
    <version>1.0</version>
    <sdf version='1.0'>model.sdf</sdf>

    <author>
        <name>scl</name>
        <email>karmueo@163.com</email>
    </author>

    <description>
        Example of adding color to a model
    </description>
</model>
